<main class="about__container">
    <h1>Sobre a página</h1>
    <p class="info__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a laoreet odio, ac euismod ante. Vivamus at massa id nunc euismod blandit. Suspendisse at sapien elit. Curabitur non bibendum diam. Pellentesque gravida lacinia maximus. Etiam hendrerit sit amet turpis at ornare. Ut fermentum rutrum velit, sit amet consequat leo tincidunt eget.

        Pellentesque accumsan ex et accumsan fringilla. Praesent cursus elit velit, et imperdiet nunc elementum ut. Phasellus facilisis et lacus quis rhoncus. Morbi eleifend nibh libero, sit amet lacinia nulla vestibulum quis. In porttitor elementum dolor, ac ornare neque cursus at. Nunc interdum ligula sit amet diam ornare, nec viverra mi iaculis. Donec lacinia sapien vel lorem interdum accumsan porta sit amet neque. In non bibendum leo. Sed sagittis lacus at tortor vulputate accumsan. Nulla sed erat nulla. Quisque posuere pretium diam id maximus. Morbi erat ex, convallis non congue in, consequat et lacus. Maecenas semper enim odio, ac rutrum dolor tristique vitae. Nulla laoreet ligula in sem volutpat, quis aliquet lacus accumsan. Integer laoreet ligula sit amet neque sagittis, eu ultricies quam mattis. Nunc vitae ligula nisl.

        Nullam in leo tellus. Etiam vel congue enim, nec ornare lacus. Fusce efficitur lacus quis enim posuere vulputate. Duis aliquam nec velit id mollis. Duis eget eros sed turpis cursus posuere a id neque. Sed lacinia varius ultricies. Nunc convallis dapibus scelerisque. Nulla facilisi. Vivamus ut tempor nibh. Nullam lacinia luctus mauris, sed ornare risus interdum quis. Cras aliquam, orci et commodo consectetur, purus tellus mattis est, nec sollicitudin arcu mauris et arcu. Fusce at metus mi.

        Proin quis eros dolor. Cras eu ultrices ex, sit amet suscipit est. Suspendisse nunc sapien, maximus dapibus ipsum quis, tristique consequat turpis. Donec sit amet dolor diam. Nam sit amet neque elementum, vestibulum sem eu, vulputate ex. Nullam semper ex sed turpis fringilla, quis porta diam condimentum. Proin orci ligula, venenatis a metus sit amet, mattis congue magna.

        Nulla eu imperdiet sapien. Etiam iaculis massa a nisl venenatis egestas ut in massa. Fusce at metus quam. Donec eleifend in lectus et placerat. Sed hendrerit consequat eros, quis scelerisque mi facilisis sed. Pellentesque viverra dolor quis ligula vulputate, et ornare dolor condimentum. Vestibulum eu vestibulum metus. Integer nec auctor mi. Pellentesque diam diam, fermentum sit amet pretium id, rhoncus nec tellus. Mauris sit amet ipsum dictum, dictum justo vel, condimentum metus. Donec ut luctus velit. Fusce porttitor nisi vel lorem commodo, ut porta magna molestie.
    </p>
</main>