<section class="form__container">
    <h2>Cadastro de produtos</h2>
    <form method="POST" action="/products">
        <label for="name">Nome</label>
        <input class="input form__input" type="text" id="name" name="name">
        <label for="price">Preço</label>
        <input class="input form__input" type="number" id="price" name="price">
        <label for="description">Descrição</label>
        <input class="input form__input" type="text" id="description" name="description">
        <label for="image">Imagem</label>
        <input class="input form__input" type="url" id="image" name="image">
        <input class="button__send" type="submit" value="Cadastrar">
    </form>
</section>